<h1>Post a tweet</h1>

<div class="btn btn-info btn-large" id="Homepage">Homepage</div>
<div class="box">
<label>Tweet</label>
<input type="text" id="tweet" /><br />
<div class="btn btn-primary" id="PostATweet">Post</div>
</div>

