<h1>{{message}}</h1>
<div class="btn btn-info btn-large" id="Homepage">Homepage</div>
<div class="btn btn-info btn-large" id="PostTweets">Post a tweet</div>

<div class="box">
    You tweeted: {{tweet}}
</div>

