<h1>View all tweets</h1>

<div class="btn btn-info btn-large" id="Homepage">Homepage</div>

<div>
{{#tweets}}
    <b>ID:</b> {{tweet.id}} <b>TWEET:</b> {{tweet.text}} <br />
{{/tweets}}
</div>

